.body {
    color: white;
    display: flex;
    flex-wrap: wrap:
}

.first-container {
    display: flex;
    background-color: #1F2937;
    height: 11vh;
    color: white;
    font-family: sans-serif;
}

.header-logo {
    flex-grow: 1;
    padding-left: 15vh; /**/ could also be marg later on/**/
}

.header-links {
    padding-right: 14%; /**/ could also be marg later on /**/
    flex-basis: 30%;

    
}

@media (max-width: 600px) {
    .header-links {
        display: none;
    }
}

a {
    padding: 1rem;
}



/**/ new part coming up! /**/

.second-container {
    display: flex;
    background-color: #1F2937;
    height: 26vh;
    color: white;
    font-family: sans-serif;
}