.body {
    color: white;
}

/**/ headr starts here
.first-container {
    display: flex;
    background-color: #1F2937;
    height: 20vh;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.header-logo {
    flex-grow: 1;
    padding-left: 15vw; /**/ could also be marg later on/**/
}

/**/ disappear top links when window is narrow /**/
.header-links {
    padding-right: 5%; /**/ could also be marg later on /**/
    flex-basis: 30%;
    font-size: 15px;
    
}

@media (max-width: 800px) {
    .header-links {
        display: none;
    }
}

a {
    padding: 1rem;
}
/**/ headr ends here 

.second-container {
    display: flex;
    background-color: #aaaaaa;
    height: 50vh;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}