
html {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    margin: 0;
    padding: 0;
}

.first-container {
    display: flex;
    background-color: #1F2937;
    height: 20vh;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.header-logo {
    flex-grow: 1;
    padding-left: 10vw; 
}

.header-links {
    padding-right: 12%;
    font-size: 18px;
    color: #e5e7ee;
    
}

@media (max-width: 900px) {
    .header-links {
        display: none;
    }
}

a {
    padding: 1rem;
}

/* begin second container */

.second-container {
    display: flex;
    background-color: #1F2937;
    height: 50vh;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    flex-grow: 1;
    padding-left: 10vw;
    padding-right: 5%;
}

.subtitle {
    font-size: 18px;
    color: #e5e7ee;
}

@media (max-width: 1000px) and (max-height: 330px) {
    .subtitle {
        display: none;
    }
}

@media (max-width: 550px) and (max-height: 550px) {
    .subtitle {
        display: none;
    }
}

.sign-up-button {
    background-color: #3882f6;
    color: #e5e7ee;
    font-size: 24px;
    border-radius: 5px;
    border: 0px;
}

@media (max-width: 1000px) and (max-height: 330px) {
    .sign-up-button {
        display: none;
    }
}

.phil-square {
    padding-right: 12%;
    height: 32vh;
}

@media (max-width: 900px) {
    .phil-square {
        display: none;
    }
}


/* begin third container */


.third-container {
        display: flex;
        background-color: #f9faf8;
        height: 65vh;
        color: black;
        font-family: sans-serif;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        gap: 6.5vw;
        padding-right: 16vw;
        padding-left: 16vw;
    }

.information {
    color: #1f2937;
    background-color: #f9faf8;
    font-size: 36px;
    padding-bottom: 8vh;
    padding-top: 7vh;
    text-align: center;
}

.square {
    border-style: solid;
    height: 15vh;
    width: auto;
    border-radius: 10px;
}

/* third container finished */

.fourth-container {
    display: flex;
    background-color: #e5e7eb;
    height: 57vh;
    color: #1F2937;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 16vw;
    padding-left: 16vw;
}

@media (max-width: 1000px) and (max-height: 330px) {
    .fourth-container {
        display: none;
    }
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.plato-attribution {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: auto;
}

@media (max-width: 1000px) and (max-height: 330px) {
    .quote {
        display: none;
    }
}

/* fourth container finished */

.fifth-container {
    display: flex;
    background-color: #f9faf8;
    height: 57vh;
    color: black;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    padding-right: 12vw;
    padding-left: 10vw;
}

.fifth-container-box {
    background-color: #3882f6;
    height: 20vh;
    width: 73vw;
    display: flex;
    border-radius: 7px;
    align-items: center;
}

.call-to-action {
    color: #ffffff;
    font-size: 24px;
    flex-grow: 1;
    padding-left: 8.5vw;
    font-weight: 600;
}

.call-subtext {
    font-size: 16px;
    font-weight: 350;
    color: #ebede9;
}

.sign-up-two {
    background-color: #3882f6;
    margin-right: 8.5vw;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

